<?xml version="1.0" encoding="UTF-8" ?>
    <!--<widget

    xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap       = "http://phonegap.com/ns/1.0"
    xmlns:android   = "http://schemas.android.com/apk/res/android"
    id              = "it.enricofurlan.orderit"
     versionCode     = "10"
    version         = "1.0.0" >-->


    <widget 
    xmlns="http://www.w3.org/ns/widgets" 
    xmlns:gap="http://phonegap.com/ns/1.0" 
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="it.enricofurlan.orderit"
    versionCode="10"
    version="1.0.0">

    <gap:config-file platform="android" parent="/manifest">
        <application android:debuggable="true" />
    </gap:config-file>

    <gap:plugin name="cordova-plugin-whitelist" source="npm" />
    <allow-navigation href="*" />
    <access origin="*" />
    <!-- versionCode is optional and Android only -->

    <name>Order IT</name>

    <description>
      Simple ordering system
    </description>

    <author href="https://build.phonegap.com" email="enrico.furlan@gmail.com">
      Enrico Furlan
    </author>

    <!--
      This allows your app to load assets from all *.phongap.com domains
    -->
    <access origin="*" subdomains="true" />
    <gap:platform name="android" />
    <preference name="fullscreen" value="true" />
    <preference name="orientation" value="portrait" />
    <preference name="LogLevel" value="VERBOSE"/>
    <icon src="icon.png" />
    <gap:splash src="splash.png" />



</widget>